# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment files
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Jupyter Notebook files
#*.ipynb

# Data files
data/
*.csv
*.tsv
*.json

# Logs
*.log

# Editor files
*.swp
*.swo
*~ 
*.bak

# Other configuration or build artifacts
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.whl

# Python environment files
.Python
 Pipfile
 Pipfile.lock
requirements.txt